{% extends 'navlayout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}Projects{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="content">
    <h2>All projects in {{ category_result.category.name }} category</h2>
  </div>
  <div class="cards-list">
          {% for project in projects %}
          <a href="/project/{{ project.id }}">
            <div class="card 1">
              <div class="card_image">
              </div>
              <div class="card_title title-black">
              <h5><span>Title: </span>{{ project.title }} </h5>
            </div>
            </div>
          </a>
          {% empty %}
          <div class="emptyCategory">
              <h4> No projects found for this category</h4>
          </div>
        {% endfor %}
</div> 
{% endblock %}
</body>
</html>