
{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
<h1> all projects</h1>
<div class="container-fluid" style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap">
    <!-- Card -->
  {% for rate_project in projects %}
  <div class="card mt-5" style="width: 230px;height: 380px">
    <!-- Card image -->
    <img class="card-img-top" src="/static/images/{{ rate_project.images.first }}" alt="Card image cap" width="270" height="200">
    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->

      <h4 class="card-title"><a>Title: {{ rate_project.title }}</a></h4>
      <!-- Text -->
      <p class="card-text">
      <p>Details: {{ rate_project.details }}</p>
      <a href="/project/{{rate_project.id}}" class="orange-text d-flex flex-row-reverse p-2">
          <h5 class="waves-effect waves-light">Read more<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
      </p>
  </div>
  </div>
  <!-- Card -->
  {% empty %}
  <h2 style="margin-left: 271px;">currently there is no rated projects yet..</h2>
  {% endfor %}
</div>
</div>

{% endblock %}