
{% extends 'layout.html' %}
<title>New Project</title>


{% block style_block %}
<!-- Test Tags input -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>	
<link rel="stylesheet" href="{{ STATIC_URL }} /static/project/css/create.css">

{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 30px;margin-bottom: 30px; background-color:whitesmoke;border-radius: 20px;padding-top: 10px;width: 900px">
  <div class="col-md-6">
  <form enctype="multipart/form-data" action="{% url 'create_project' %}" method="post" class=""> {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {% for field in form %}
  <div class="form-group">
    <h3 style="font-size: large">{{ field.label_tag }}</h3>
    {% if field.label == "Tags" %}
      {% for o in field %}
      <div class="custom-control custom-checkbox mb-3">
        {{ field.field }}
        <input type="checkbox" name="tags" value="{{o.data.value}}" class="custom-control-input" id="{{ o.data.attrs.id }}" >
        <label class="custom-control-label" for="{{ o.data.attrs.id }}" >{{o.data.label}}</label>
        <br>
      </div>
      {% endfor %}

    {% else %}
    {% render_field field class="form-control" %}
    {% endif %}
    {{ field.errors }}
  </div>
{% endfor %}

  <div class="form-group">
    <label>Images:</label>
    <div class="file-upload">

      <div class="file-select">
        <input type="file" name="images" accept="image/png, image/jpeg" id="img" multiple>
      </div>
      </div>
  </div>
    <div class="form-group">
      <label>Tags: </label>
      <br>      
      <input type="text" value="" name="tags" data-role="tagsinput" placeholder="Comma Seperated Tags"></input>
    </div>

  <input type="submit" value="Add"  class="btn btn-primary pu-6" style="width: 100px; font-weight: bold;font-size: large"/>
  <input type="button" value="Reset" class="btn btn-danger pu-6" onClick="this.form.reset()" style="width: 100px; font-weight: bold;font-size: large"/>

  </form>
</div>
</div>

{% endblock %}
